process {
   withName:variant{
       container = 'docker://staphb/bcftools:1.16'
   }   
   withName:statistics{
       container = 'docker://staphb/samtools:1.12'
   }
   withName:kraken{
       container = 'docker://staphb/kraken2:latest'
   }
   withName:bracken{
       container = 'docker://staphb/bracken:latest'
   }
   withName:snpeff{
       container = 'docker://staphb/snpeff:5.2a'
   }   
   withName:assemble{
       container = 'docker://dmolik/hifiasm:v1'
   }
}