



#-------------------------------------------------------------------------------
#
# SnpEff configuration file
#
#                                                                                                                               Pablo Cingolani
#-------------------------------------------------------------------------------

#---
# Databases are stored here
# E.g.: Information for 'hg19' is stored in data.dir/hg19/
#
# You can use tilde ('~') as first character to refer to your home directory.
# Also, a non-absolute path will be relative to config's file dir
#
#---
#data.dir = ./data/

#---
# Database repository: A URL to the server where you can download databases (command: 'snpEff download dbName')
#---


# Candida auris genome, version refseq
cauris.genome : Candida_auris
C_auris_B8441.genome : Candida_auris strain B8441
C_auris_B11221.genome : Candida_auris strain B11221

data.dir = ../data


